<!doctype html>
<html>

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;
    }
  </style>
  <title>
    Games in common
  </title>
</head>

<body>
  <a href="/">Back to home page</a>
  <br><br>
  {{ debug_str }}
  <table>
    <caption>{{ caption }}</caption>
    <tr>
      <th>Title</th>
      <th>Platform</th>
      <th>Players</th>
      <th>Comment</th>
    </tr>
    {% for game, value in games.items() -%}
    <tr>
      <td>{{ value.title }}</td>
      <td>{{ value.platform }}</td>
      <td>{{ value.max_players }}</td>
      <td>{{ value.comment }}</td>
    </tr>
    {% endfor -%}
  </table>
  <br><br>
  <a href="/">Back to home page</a>
</body>

</html>