<!doctype html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 3px;
        }

        a:visited {
            color: lightseagreen;
        }

        a:link {
            color: oldlace;
        }
    </style>
    <title>
        gamatrix-gog results
    </title>
</head>

<body style="background-color: rgb(50, 50, 50);">
    <a href="/">Back to home page</a>
    <br><br>
    {{ debug_str }}
    <table>
        <caption style="color: lightgray;">{{ caption }}</caption>
        <tr style="background-color: rgb(124,207,228)">
            <th>Title</th>
            <th>Players</th>
            <th>Installed</th>
            <th>Comment</th>
            {% if show_keys -%}
            <th>Release Key</th>
            {%- endif %}
        </tr>
        {% for game, value in games.items() -%}
        {% set max_players = value.max_players|default("0", true)|int -%}
        {# Alternate row colors, and grey out titles that support fewer players than selected #}
        <tr style="background-color: rgb({{ loop.cycle('180,227,239', '201,235,243') }})
      {%- if (max_players > 0 and max_players < users|length) -%}
      ;color: grey;
      {%- endif -%}
      ">
            <td>
                {% if value.url is defined -%}
                <a href="{{value.url}}">
                    {%- endif -%}
                    {{ value.title }}
                    {%- if value.url is defined -%}
                </a>
                {%- endif -%}
                <div style="float:right">
                    {% for platform in value.platforms -%}
                    {%- if platform not in platforms -%}
                    <img src="/static/question_block.jpg" width="20" height="20">&nbsp;
                    {%- else -%}
                    <img src="/static/{{ platform }}.png" width="20" height="20">&nbsp;
                    {%- endif -%}
                    {%- endfor -%}
                </div>
            </td>
            <td>
                {%- if value.max_players > 0 -%}
                {{ value.max_players }}
                {%- endif -%}
            </td>
            {# Put a check mark if all users have the game installed #}
            <td style="text-align:center;">
                {% if users|length == value.installed|length -%}
                <b>&check;</b>
                {# Otherwise list the users that have it installed, using their pic if available #}
                {%- else -%}
                {% for userid in value.installed -%}
                {% if users[userid]['pic'] is defined -%}
                <img src="/static/{{ users[userid]['pic'] }}" width="20" height="20"
                    title="{{ users[userid]['username'] }}">&nbsp;
                {%- else -%}
                {{ users[userid]['username'] }}&nbsp;
                {%- endif -%}
                {%- endfor -%}
                {%- endif -%}
            </td>
            <td>{{ value.comment }}</td>
            {% if show_keys -%}
            <td>{{ game }}</td>
            {%- endif -%}
        </tr>
        {%- endfor -%}
    </table>
    <br><br>
    <a href="/">Back to home page</a>
</body>

</html>