<!doctype html>
<html>

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;
    }
  </style>
  <title>
    gamatrix-gog results
  </title>
</head>

<body>
  <a href="/">Back to home page</a>
  <br><br>
  {{ debug_str }}
  <table>
    <caption>{{ caption }}</caption>
    <tr style="background-color: rgb(124,207,228)">
      <th>Title</th>
      {% for userid, username in users.items() -%}
      <th>{{ username }}</th>
      {%- endfor %}
      <th></th>
      <th>Players</th>
      <th>Comment</th>
    </tr>
    {% for game, value in games.items() -%}
    <tr style="background-color: rgb({{ loop.cycle('180,227,239', '201,235,243') }})">
      <td>{{ value.title }}</td>
      {% for userid, username in users.items() -%}
      {% if userid in value.owners -%}
      <td style="background-color:rgb(182,215,168)"></td>
      {%- else -%}
      <td style="background-color:rgb(234,153,153)"></td>
      {%- endif %}
      {%- endfor %}
      <td>
        {% for platform in value.platforms -%}
        <img src="/static/{{ platform }}.png" width="20" height="20">&nbsp;
        {%- endfor -%}
      </td>
      <td>{{ value.max_players }}</td>
      <td>{{ value.comment }}</td>
    </tr>
    {%- endfor %}
  </table>
  <br><br>
  <a href="/">Back to home page</a>
</body>

</html>