<!doctype html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 3px;
        }

        a:visited {
            color: lightseagreen;
        }

        a:link {
            color: oldlace;
        }
    </style>
    <title>
        gamatrix-gog results
    </title>
</head>

<body style="background-color: rgb(50, 50, 50);">
    <a href="/">Back to home page</a>
    <br><br>
    {{ debug_str }}
    <table>
        <caption style="color: lightgray;">{{ caption }}</caption>
        <tr style="background-color: rgb(124,207,228)">
            <th>Title</th>
            {% for userid, value in users.items() -%}
            <th>{{ value.username }}</th>
            {%- endfor %}
            <th>Players</th>
            <th>Comment</th>
            {% if show_keys -%}
            <th>Release Key</th>
            {%- endif %}
        </tr>
        {% for game, value in games.items() -%}
        {%- set outer_loop = loop -%}
        <tr style="text-align: center;background-color: rgb({{ loop.cycle('180,227,239', '201,235,243') }})">
            <td style="text-align:left;">
                {% if value.url is defined -%}
                <a href="{{value.url}}">
                    {%- endif -%}
                    {{ value.title }}
                    {%- if value.url is defined -%}
                </a>
                {%- endif -%}
                <div style="float:right">
                    {% for platform in value.platforms -%}
                    <img src="/static/{{ platform }}.png" width="20" height="20">&nbsp;
                    {%- endfor -%}
                </div>
            </td>
            {% for userid, uvalue in users.items() -%}
            {% if userid in value.owners -%}
            <td style="background-color:rgb(182,215,168)">
                {%- else -%}
            <td style="background-color:rgb(234,153,153)">
                {%- endif -%}
                {% if outer_loop.index is divisibleby 25 -%}
                {{ uvalue.username }}
                {%- endif -%}
                {%- if userid in value.installed -%}
                <b>&check;</b>
                {%- endif -%}
            </td>
            {%- endfor %}
            <td style="text-align:left;">
                {%- if value.max_players > 0 -%}
                {{ value.max_players }}
                {%- endif -%}
            </td>
            <td style="text-align:left;">{{ value.comment }}</td>
            {% if show_keys -%}
            <td style="text-align:left;">{{ game }}</td>
            {%- endif -%}
        </tr>
        {%- endfor %}
    </table>
    <br><br>
    <a href="/">Back to home page</a>
</body>

</html>