<!doctype html>
<html>

<head>
  <style>
    table,
    th,
    td {
      padding: 20px;
    }

    body {
      font-size: x-large;
    }
  </style>
  <title>
    gamatrix-gog
  </title>
</head>

<body>
  <h3>Who's playing?</h3>
  <table>
    <tr>
      <td>
        <form action="/compare">
          {% for user in users -%}
          <div>
            <input type="checkbox" id="{{ users[user]['username'] }}" name="{{ user }}" checked>
            <label for="{{ users[user]['username'] }}">{{ users[user]['username'] }}</label>
          </div>
          {% endfor -%}
      </td>
      <td style="vertical-align:top">
        <input type="checkbox" id="Include single-player games" name="include_single_player">
        <label for="Include single player games">Include single player games</label>
        <br>
        <span style='font-size:50px;'>&#9757;</span>Still WIP: you can help <a
          href=https://github.com/eniklas/gamatrix-gog-configs>here!</a>
      </td>
    </tr>
  </table>
  <br>
  <input type="submit" value="Giv'er">
  </form>
</body>

</html>