name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  tests:

    name: Test Python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.9']
    env:
      PYTHONDEVMODE: 1

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python_version }}

    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install .[dev,ci]

    - name: Analyze with mypy
      run: |
        python -m mypy

    - name: Check format with Black
      run: |
        python -m black --check .

    - name: Test with pytest
      run: |
        python -m pytest

    - name: Build a Wheel
      run: |
        python -m build --wheel

    - uses: actions/upload-artifact@v3
      with:
        name: wheel
        path: dist/gamatrix-*-none-any.whl
