name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  tests:

    name: Test Python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.9']
    env:
      PYTHONDEVMODE: 1

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}

    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install -r dev-requirements.txt
        python -m pip install -r requirements.txt

    - name: Lint with flake8
      run: |
        python -m flake8

    - name: Lint with mypy
      run: |
        python -m mypy

    - name: Check format with Black
      run: |
        python -m black --check .

    - name: Test with pytest
      run: |
        python -m pytest
